# Dagster
data
tmp*
.tmp_dagster*

# Airflow
_airflow

# Python
*.egg-info
__pycache__
*.ipynb_checkpoints

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# dotenv / secrets
.env
