[submodule "integrations/sources/mobidata/nodered"]
	path = integrations/sources/mobidata/nodered
	url = https://github.com/sgc-kn/nr-flows-mobidata.git
[submodule "integrations/sources/dwd/nodered"]
	path = integrations/sources/dwd/nodered
	url = https://github.com/sgc-kn/nr-flows-dwd.git
