# This file holds the development requirements.
# The requirements for deploying dagster are listed in pyproject.toml.

notebook

# install local package for editing as defined in pyproject.toml
-e .

# dependency management; used in devenv.nix
pip-tools
